{% extends "::base.html.twig" %}

{% block title "Hello " ~ name %}

{% block body %}
<div id="cabecera">
{% block cabecera %}
<h1>Hello {{ name }}!</h1>
{% endblock %}
</div>
<div id="cuerpo">
<div id="menu">{% block menu %}
<ul>
    {% for curso in cursos %}
        <li><a href="curso-{{curso.nombrecurso}}">{{ curso.nombrecurso }}</a></li>
    {% endfor %}
</ul>{% endblock %}</div>
<div id="contenido">{% block contenido %}
<ul>
{% for usuario in usuarios %}
        <li><a href="{{usuario.id}}">{{ usuario.nombre }}</a></li>
    {% endfor %}
</ul>
{% endblock %}</div>
</div>
<div id="pie">{% block pie %}{% endblock %}</div>
    
    
{% endblock %}

{% set code = code(_self) %}
