<h1>Curso</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombrecurso</th>
            <td>{{ entity.nombrecurso }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('manage_curso') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('manage_curso_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('manage_curso_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
